*.iml
.gradle
gradle.properties
local.properties
/app/build
/app/*.iml
app/app.iml
/app/app.iml
/.idea
/local.properties
local.properties
/app/*.iml
/app/app.iml
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures